.corp {
  padding: 0 $marge 0 $marge;

  .bloc_titre {
    margin: 10px 0 15px 0;
    overflow: hidden;
    width: 100%;
  }
  .bloc1_img{
    article div{
      padding: 20px 10px;
    }
  }
}
article {
  border-radius: 50px;
  margin-bottom: $margeArticle;
  overflow: hidden;
  h2 {
    padding-bottom: 10px;
  }
  h2 + p {
    text-align: justify;
    padding: 10px 0;
    padding: 0 5px;
  }
  :last-child {
    text-align: center;
  }
}
.bloc1_img{
  article{
    p{
      padding: 22px 10px;
    }
    +p{
      padding: 0;
    }
  }
}

.article_img {
  padding: 0;
  img {
    width: 100%;
  }
}



.Bloc_6{
  label{
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .Bloc_1Contener{
    padding: 100px 0;
  }
  .bloc_img {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;


    article {
      width: 40vw;
    }
  }
  .bloc1_img{
    padding: 25px;
    width: 50vw !important;
    article{
      //: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      div{
        width: 100%;
      }
    }
  }
}

.comments{
  display: flex;
  flex-direction: column;
  box-shadow: none !important;
  border: 2px pink solid;
  margin-bottom: 15px;
  padding: 10px;
  :last-child{
    margin-top: 10px;
    padding-bottom: 2px;
    text-align: center;
    background-color: pink;
    color: black;
  }
}

@media screen and (min-width: 992px) {
  .bloc_img article {
    width: 22vw;

    img {
      height: 35vh;
    }
  }
}