.corp {
  padding: 0 $marge 0 $marge;

  .bloc_titre {
    margin: 10px 0 15px 0;
    overflow: hidden;
    width: 100%;
  }
  .bloc1_img{
    article div{
      padding: 20px 10px;
    }
  }
}
article {
  background-color: #333333;
  box-shadow: 5px 5px 10px #202020, -5px -5px 10px #464646;
  border-radius: 50px;
  margin-bottom: $margeArticle;
  overflow: hidden;
  h2 {
    color: white;
    padding-bottom: 10px;
  }
  h2 + p {
    color: pink;
    text-align: justify;
    padding: 10px 0;
    padding: 0 5px;
  }
  :last-child {
    color: white;
    text-align: center;
  }
}
.bloc1_img{
  article{
    p{
      padding: 22px 10px;
    }
    +p{
      padding: 0;
    }
  }
}

.article_img {
  padding: 0;
  img {
    width: 100%;
  }
}

a:hover article h2 {
  color: black;
  background-color: pink;
}

@media screen and (min-width: 768px) {
  .Bloc_1Contener{
    padding: 100px 0;
  }
  .bloc_img {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;


    article {
      width: 40vw;
    }
  }
  .bloc1_img{
    background-color: #333333;
    padding: 25px;
    width: 50vw !important;
    article{
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (min-width: 992px) {
  .bloc_img article {
    width: 22vw;

    img {
      height: 35vh;
    }
  }
}