footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px $marge 25px $marge;
  button {
    color: $colour-invalid;
    text-align: center;
    border-radius: 33px;
    width: 90vw;
  }
}

@media screen and (min-width: 768px) {}

footer {
  background-color: #353535;
  color: #747474;
}

@media screen and (min-width: 992px) {

  //galaxy fold
  footer {
    height: 10vh;
    margin-top: 15px;
  }
}