header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.banner {
  img {
    object-fit: cover;
    height: 75px;
  }
  div{
    padding:15px;  
    p {
      text-align: center;
    }
  }
}



@media screen and (min-width: 768px) {

  .banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    img {
      width: 450px;
    }
    div {
      height: 45px;
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      // border: 15px ridge black;
    }
  }
}