body, div, header, main, footer, h1, h2, h3, p, ul, li, input, button{
  @include reset
}

img{
  object-fit: cover;
  width: 100%;
}


@media screen and (min-width: 768px) {
header ,nav{
  position: none;
}
}

.Bloc_6{
  label{
    color: white;
  }
  .underline{
    background-color: white;
  }
}

textarea,
input {
  background-color: #333333;
  color: pink;

}