body {
  background-color: #333333;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .Bloc_1Contener {
    width: 100%;
    .icon {
      margin-top: 75px;
      ;
    }
  }
}
.Bloc_1Contener a:hover h2{
  background-color: pink;
  color: black;
}
